</br>
</br>
</br>
再登入後可以點入新增專案的部分，會看到以下介面(如圖一)，點選新增專案。</br>

<a href="http://imgur.com/nC9VhA0"><img src="http://i.imgur.com/nC9VhA0.png" title="Hosted by imgur.com" alt="" /></a>
</br>
</br>
</br>

這是新增專案的頁面。清將空格都填滿，請勿超過255個字，接著案送出。</br>
<a href="http://imgur.com/aICTTf3"><img src="http://i.imgur.com/aICTTf3.png" title="Hosted by imgur.com" alt="" /></a>
</br>
</br>
</br>


經管理者審核後，您會收到email通知，您就可以真正撰寫計畫書，在新增專案的頁面點入專案上架。</br>
<a href="http://imgur.com/ChCCpHl"><img src="http://i.imgur.com/ChCCpHl.png" title="Hosted by imgur.com" alt="" /></a>
</br>
</br>
</br>

最終企畫書的格式如下</br>
<a href="http://imgur.com/FTQaCCo"><img src="http://i.imgur.com/FTQaCCo.png" title="Hosted by imgur.com" alt="" /></a></br>
封面圖片:<br>
請輸入圖片網址(需要 .png檔的圖片)</br>
專案影片:</br>
	請先將影片上傳至youtube，在遷入原始碼。</br>
<a href="http://imgur.com/0HO9V7X"><img src="http://i.imgur.com/0HO9V7X.png" title="Hosted by imgur.com" alt="" /></a>
</br>
</br>
</br>


待其他部分也填完後，下面有按鈕可以調成false或是true，false還可以繼續修改，true則會寄給管理員做最後審核。</br>
最後若是審核通過，集會將您的專案上架。
