
<div id="container">
  
  <div>
  <% @allproject.each do |p|%>
    <div id="id-item" class="item"><%= simple_format p.Pname%><center><a href=<%=project_path(p.id)%>><img src=<%=p.Ppic%>></a></center><%= simple_format p.Pdescribe%></div>
  <% end %>
  </div>
  
</div>
















<script>
$(function(){
      var $container = $('#container');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.item',
      isAnimated: true,
      isFitWidth: true,
      columnWidth : 30
    });
  });
});
</script>
