<center>
<div id="container">

  <% @allproject.each do |p|%>
    <div id="id-item" class="item"><%= simple_format p.Pname%><center><%= simple_format p.Ppic%></center><%= simple_format p.Pdescribe%></div>
  <% end %>
</div>
</center>















<script>
$(function(){
      var $container = $('#container');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.item',
      isAnimated: true,
      columnWidth : 30
    });
  });
});
</script>
