<div id="showname">
  <%= @thisp.Pname%>
</div>
<div id="showcontext">
  <div id="showmedia">
    <img src=<%= @thisp.Ppic%> width="590px">
  </div>

  <div id="showteam">
    <%= @thisp.Pintro%>
  </div>

  <div id="showsummary">
    <%= simple_format @thisp.Psummary%>
  </div>
</div>
