<div id="showname">
  <%= @thisp.Pname%>
</div>
<div id="showcontext">
  <div id="showmedia">
    <video width="420" height="315" src=<%= @thisp.Pvideo%>></video>
  </div>

  <div id="showteam">
    <%= @thisp.Pintro%>
  </div>

  <div id="showsummary">
    <%= simple_format @thisp.Psummary%>
  </div>
</div>
