/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#top-bar {
  margin-top:0px;
  background-color: #dc143c;
  height:50px;
  width: 100%;
  position:absolute;
  top:0;
  right:0;
}

#top-bar ul {

  list-style:none;
  margin-top: 0px;
  padding:0px;
  border-style:none;
}

#top-bar li {
  width: 100px;
  float: right;
  text-align: center;
  margin-right: 3px;
  margin-top: 15px;
  height: 30px;
}

#top-bar li a {
  list-style-type:none;
  font-size: 18px;
  
  color:white;
  text-decoration: none;
}

#top-bar li a:hover{
  color:#ff8c00;
}

#main {
  margin-top:70px;
}







.ste .bar { background: #ECE9D8; padding: 3px; border: #ACA899 1px; border-style: solid solid none solid; }
.ste .frame { border: 1px solid; border-color: #716F64 #ECE9D8 #ECE9D8 #716F64; }
.ste .frame iframe { width: 500px; height: 300px; }
.ste img { border: 0; }
.ste .button { padding: 1px; border: #ECE9D8 1px solid; }
.ste .button-hover { padding: 1px; border: 1px solid; border-color: #ffffff #ACA899 #ACA899 #ffffff; }
.ste .button-click { padding: 1px; border: 1px solid; border-color: #ACA899 #ffffff #ffffff #ACA899; }
.ste .separator { width: 0px; height: 18px; border-left: #aca899 1px solid; border-right: #ffffff 1px solid; margin: 0 5px; }
.ste .source { padding-top: 5px; }
