// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  margin:0 auto;  
}
#id-item {
  width: 300px;
  background-color:#CCCCCC;
  margin: 10px;
  float: left;
  border-style:solid;
  border-color:white;
  border-width:15px;
  box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
}

#id-item img{
  width: 280px;
}

#showsummary {
  width: 800px;
  height: auto;
  margin:0 auto;
  background-color:green;
}
